.container {
    text-align: center;
    margin: 20px;
}

.buttonGood {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.buttonNeutral {
    composes: buttonGood;
    background-color: #caca14;
}

.buttonBad {
    composes: buttonGood;
    background-color: #cd0e21;
}


.buttonReset {
    composes: buttonGood;
    background-color: #ff5722;
}